.home-body {
    width: 70vw;
    min-height: 200px;
    margin: 3vh auto 7vh auto;
    box-shadow: 0 0 18px -2px red;
    padding: 25px 0;
    box-sizing: border-box;
    font-family: "DM sans";

}
.home-body-search {
    width: 90%;
    height: 50px;
    border: 1.8px solid #E3E3E3;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 9px;
    
}
.home-search-icon {
    margin: 0 7px;
    height: 45%;
    width: 2.5%;
    object-fit: contain; 
}

.home-search-input {
    height: 55%;
    width: 95%;
    font-size: 20px;
    border: none;
    outline: none;
}

::placeholder {
    color: #9C9C9C;
}

.home-body-select {
    margin-top: 30px;
    height: 40px;
    width: 91.5%;
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-body-selected-skills {
    display: inline-flex;
    flex-wrap: wrap;
}
.home-body-select select {
    height: 100%;
    padding: 10px;
    color: #9C9C9C;
    border-radius: 6px;
    border-width: 1.2px;
    border-color: #9C9C9C;
    outline: none;
}

.home-body-selected {
    padding: 10px 0px 10px 10px;
    margin-left: 5px;
    background-color: #FFEEEE;
}

.home-body-selected-cross {
    height: 100%;
    padding: 10px;
    width: 20px;
    background-color: #FF6B6B;
    margin-left: 5px;
    color: white;
    cursor: pointer;
}

.home-body-filter-btn {
    width: 8vw;
    padding: 7px 0px;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #ED5353;
    color: white;
}

.home-body-clear-btn {
    width: 5vw;
    padding: 7px 0px;
    font-size: 17px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #ED5353;
    font-weight: 540;
    margin-left: 10px;
}

.home-job {
    width: 70vw;
    height: 120px;
    margin: 10px auto ;
    box-shadow: 0 0 18px -4px rgba(219, 7, 7, 0.59);
    padding: 15px;
    box-sizing: border-box;
    font-family: "DM sans";
    display: flex;
    justify-content: space-between;
}

.home-job-left {
    height: 100%;
    width: 50%;
    display: flex;
    gap: 15px;
} 

.home-job-icon {
    height: 78%;
    width: 13%;
}

.home-job-icon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.home-job-details {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.home-job-details-heading{
    font-weight: 600;
    font-size: 18px;
}

.home-job-details-1 {
    width: 80%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9C9C9C;
}
.home-job-details-1 img {
    height: 80%;
    width: 18px;
    object-fit: contain;
}

.home-job-details-2 {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #ED5353;
    font-weight: 540;
}

.home-job-detail-skills {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
.home-job-detail-skills p {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 5px;
}
.home-job-detail-skills p span{
    background-color: #FFEEEE;
    margin-left: 7px;
    display: inline-block;
    padding: 4px 5px;
    width: 90px;
    font-size: 15px;
    font-weight: 540;
    text-align: center;
}

.home-job-detail-skills button {
    width: 8vw;
    padding: 7px 0px;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #ED5353;
    color: white;
}